.br-modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.br-modal-content__item {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.br-modal-content__item div:nth-child(1) {
  font-weight: bold;
}

.br-modal-content__item div:nth-child(2) {
  margin-left: 5px;
}
